nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
    background-color: #fff;
    border-bottom: 1px solid #E6E6E6;
    padding: rem(12);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: rem(26);
    text-transform: uppercase;
}

.main-menu {
    display: flex;
    list-style: none;

    li {
        margin-right: rem(24);
        font-size: rem(18);
    }

    a {
        text-decoration: none;
    }
}