html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: rem(22);
    line-height: 1.8;
    color: $text-dark;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: rem(56);
    margin-bottom: rem(8);
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: rem(40);
    margin: 0 0 rem(8) 0;
}

p {
    margin-top: 0;
}

a {
    color: $text-blue;
    font-weight: 500;

    &:hover {
        color: darken($text-blue, 10%);
    }
}

.link-list {
    a {
        font-size: rem(18);
        text-decoration: none;
        font-weight: 600;
        display: block;
        padding: rem(12) rem(14);
        border: 2px solid rgba($text-blue, 0.1);
        margin-top: rem(8);
        border-radius: 3px;
        background: rgba($text-blue, 0.00);

        @include transition();

        &:hover {
            background: rgba($text-blue, 0.03);
        }
    }
}

.intersection {
    height: auto;
    background: $bg-light;
    max-height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center end;

    .animation,
    .animation__info {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

.container {
    max-width: rem(1280);
    margin-left: auto;
    margin-right: auto;
}

.text-section {
    max-width: rem(672);
    margin: 0 auto;
    padding: rem(112) 0;
}

.animation {
    left: 0;
    right: 0;
    max-width: rem(1280);
    margin: auto;
}

.animation__info {
    margin-right: rem(48);
    max-width: 40%;
    z-index: $zindex-animationInfo;
    background-color: #fff;
    padding: rem(48);
    border-radius: $border-radius*2;

}

.animation--full-width {
    padding: 0;
    max-width: none;
    width: 100%;
    height: auto;
}

#fish {
    background-color: #E5F3FD;
}

#bacteria {
    background-color: #fffefb;
}