body {
  font-family: 'Barlow';
  font-size: 1.375em;
  line-height: 1.8;
}
h1 {
  font-family: 'Barlow Condensed';
  text-transform: uppercase;
  font-size: 2.5em;
}
section {
  height: 70vh;
  background: $bg-light;
  position: relative;
  transition: 1000ms;
  &.inView {
    background: dodgerblue !important;
  }
  &:nth-child(even) {
    background: $water-light;
  }
  .wrap {
    max-width: 70rem;
    margin: 0 auto;
    height: 100%;
    display: grid;
    place-items: center end;
  }
  .info {
    max-width: 50%;
  }
}
.animation {
  position: absolute;
}
