.inView {
  .stats svg {
    animation: shrink 1s forwards 1s, moveLeft 1s forwards 2s;
  }
  .content p {
    animation: moveRight 1s forwards 2s;
  }
}
.stats {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-content: end;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}
.stat {
  display: flex;
  justify-content: flex-end;
  position: relative;
  .icon p, .status {
    color: #64A300;
  }
  &.high, &.low {
    .icon p, .status {
      color: #C1272D;
    }
  }
  &:nth-child(1) {
    z-index: 1;
  }
  &:nth-child(2) {
    z-index: 2;
  }
  &:hover .text {
    max-width: 999px;
    padding: 1.5rem 2rem 1rem 4rem;
    p,
    h3 {
      animation: show 1s forwards;
    }
  }

  .icon {
    $size: 8rem;
    border-radius: 100px;
    height: $size;
    width: $size;
    background: white;
    color: grey;
    display: grid;
    place-items: center;
    z-index: 2;
    border: 2px solid #dce9ea;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    svg,
    p {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
    svg {
      height: 50px;
    }
    p {
      opacity: 0;
      margin: 0;
    }
  }
}
.text {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: rgba(255, 255, 255, 0.95);
  max-width: 0;
  overflow: hidden;
  transition: 1s max-width;
  position: absolute;
  right: 4rem;
  top: 0;
  height: 100%;
  border: 2px solid #dce9ea;
  p,
  h3 {
    opacity: 0;
  }
  h3 {
    font-size: 1em;
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
  }
  p {
    font-size: 0.8em;
    white-space: nowrap;
    margin-right: 6rem;
    color: $text-light;
  }
}
@keyframes shrink {
  to {
    height: 30px;
  }
}
@keyframes moveLeft {
  to {
    transform: translatex(-20px);
  }
}
@keyframes moveRight {
  to {
    transform: translatex(20px);
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
