<section id="fish" class="intersection" data-anim="0">
  <div class="animation__info">
    <h2>Vissen</h2>
    <p>De Afrikaanse meervallen produceren uitwerpselen. Deze uitwerpselen vervuilen het water en dat is slecht voor de vissen maar juist goed voor de planten.</p>
    <a href="#water">Het besproeien</a>

    <!--<ul class="link-list">-->
      <!--<li><a href="#">Waarom Afrikaanse meervallen?</a></li>-->
      <!--<li><a href="#">Waarmee worden de vissen gevoerd?</a></li>-->
    <!--</ul>-->
  </div>

  <div id="animation-fish" class="animation animation--full-width"></div>
</section>