<section class="intersection fish" data-anim="0">
  <div class="animation__info">
    <h1>Vissen</h1>
    <p>De Afrikaanse meervallen krijgen voer en poepen. De vaste stoffen worden opgegeten door wormen. De gewassen worden met het vieze water van de vissen besproeid.</p>

    <ul class="link-list">
      <li><a href="">Waarom Afrikaanse meervallen?</a></li>
      <li><a href="">Waarmee worden de vissen gevoerd?</a></li>
    </ul>
  </div>

  <div id="animation-fish" class="animation animation--full-width"></div>
</section>