<section id="water" class="intersection" data-anim="1">
    <div class="stats">
        <div class="stat humidity">
            <div class="text">
              <h3>De luchtvochtigheid is momenteel
                <span class="status"></span>
              </h3>
              <p>De ideale luchtvochtigheidspercentage voor de kas ligt tussen 60% en 80%</p>
            </div>
            <div class="icon">
              <div class="content">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 9.3 15.3" style="enable-background:new 0 0 9.3 15.3;" xml:space="preserve"> <style type="text/css"> .hu0{fill:#DFF3FE;} .hu1{fill:#CBE4F3;} .hu2{opacity:0.6;fill:#FFFFFF;} </style> <defs> </defs> <g> <g> <path class="hu0" d="M4.6,14.9c-2.3,0-4.2-1.9-4.2-4.2c0-2,3.2-7.9,4.2-9.8c1.1,1.9,4.2,7.8,4.2,9.8C8.9,13,7,14.9,4.6,14.9z"/> <path class="hu1" d="M4.6,1.6c1.7,3.2,3.9,7.5,3.9,9c0,2.1-1.7,3.9-3.9,3.9c-2.1,0-3.9-1.7-3.9-3.9C0.8,9.1,2.9,4.8,4.6,1.6 M4.6,0C4.6,0,0,8.1,0,10.6c0,2.6,2.1,4.6,4.6,4.6s4.6-2.1,4.6-4.6C9.3,8.1,4.6,0,4.6,0L4.6,0z"/> </g> <path class="hu2" d="M7.9,10.3c0,0.4-0.1,0.8-0.2,1.2c-0.4,0.9-1.1,1.7-2.1,1.9c-0.8,0.1,0.2-0.8,0.8-1.8C7,10.5,7.9,9.3,7.9,10.3z "/> </g> </svg> 
                <p><span class="value"></span>%</p>
              </div>
            </div>
          </div>
    </div>
  <div class="animation__info">
    <h2>Het besproeien</h2>
    <p>In het vieze water zit Ammonia (NH3), deze stof wordt omgezet naar andere stoffen door bacteriën die bij de wortels van de planten zitten.</p>
    <a href="#bacteria">De bacteriën</a>
  </div>
  <div id="animation-water" class="animation"></div>
</section>